.sticky-table-fixed {
  overflow: hidden;
  position: fixed;
}

.sticky-table-scrollable {
  position: relative;
  overflow: auto;
}

.sticky-table-cell-content-container {
  overflow: hidden;
  position: absolute;
  left: 0;
}

.sticky-table-original {
  display: none;
}